.react-parallax img {
  object-fit: cover;
  vertical-align: middle;
}

.parallax-img {
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 50%;
  width: auto;
  filter: none;
  transform: translate3d(-50%, 0px, 0px);
  -webkit-transform: translate3d(-50%, 0px, 0px);
  -moz-transform: translate3d(-50%, 0px, 0px);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  height: 130%;
}

.parallax-container {
  height: 100%;
  width: 100%;
}

.parallax-container .parallax-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  color: white;
  width: 100%;
}
