.projects-grid {
  display: grid;
  grid-gap: 5rem;
  gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  height: auto;
  width: 100%;
}

.projects-grid .pro__1 {
  flex-direction: row;
  gap: 1rem;
  height: 30rem;
  padding: 1.6rem;
}

.projects-grid .pro {
  background-color: var(--bg-white);
  border-radius: 1.7rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

.projects-grid .reversed-proj {
  display: flex;
  flex-direction: row-reverse;
}

.projects-grid .pro__img {
  border-radius: 1.7rem;
  height: auto;
  position: relative;
  overflow: hidden;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: hsla(0, 0%, 46%, 0.2);
}

#myiframe {
  width: 100%;
  height: 100%;
}

/* .projects-grid .pro__img embed {
  height: auto;
  width: 100%;
  transform: translateY(0%);
  transition: transform 10s ease-in-out 0s;
} */

/* .projects-grid .pro__img:hover embed {
  transform: translateY(-90%);
  transition: transform 10s ease-in-out 0s;
} */

.projects-grid .pro__text {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  text-align: center;
  max-width: 25rem;
}

.projects-grid .pro__text h3 {
  color: var(--color-dark);
  font-size: 1.5rem;
  margin-bottom: 1rem;
  position: relative;
  text-transform: uppercase;
}

.projects-grid .pro__text p {
  color: var(--color-dark);
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  text-transform: none;
}

.stack {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.stack p {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #000 !important;
  font-family: var(--font-mulish);
  font-weight: 600 !important;
  padding: 1rem 1.3rem;
}

.links {
  display: flex;
  gap: 1.2rem;
  justify-content: space-evenly;
  margin-top: 3rem;
}

.links a {
  display: flex;
  align-items: center;
  color: #000000;
  font-size: 1.3rem;
  text-decoration: none;
  font-weight: 500;
  gap: 7px;
  position: relative;
}

.links a span::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  right: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--bg-dark);
  transition: 0.3s ease-in-out;
}

.links a span:hover::after {
  width: 100%;
}

@media all and (max-width: 900px) {
  .projects-grid .pro__1 {
    flex-direction: column !important;
    gap: 2rem;
    height: 40rem;
    margin: 0 auto;
    width: fit-content;
    align-items: center;
  }

  .projects-grid .pro__img {
    height: 55%;
    width: 100%;
  }

  .links {
    margin-top: 1.3rem;
  }
}

@media all and (max-width: 1280px) {
  .projects-grid .pro__img {
    min-width: 55%;
  }
}
