.technologies-container {
  background-color: var(--bg-dark);
  color: rgb(255, 255, 255);
  padding: 2rem;
}

.technologies-header {
  text-align: center;
  font-weight: 700;
  padding-bottom: 1.5rem;
}

.technologies-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.technologies-icon img#12 {
  background-color: var(--bg-dark);
  color: rgb(255, 255, 255);
}

.technologies-icons img {
  height: 32px;
}

@media all and (max-width: 900px) {
  .technologies-container {
    padding: 2rem;
  }

  .technologies-icons img {
    height: 24px;
  }
}
