/* ---------- Header & Mobile Menu ------------- */
.styled-nav-links,
.mobile-menu-link {
  color: var(--color-lightGray);
  font-size: 0.895rem;
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
  position: relative;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease;
}

.styled-nav-links::after,
.mobile-menu-link::after {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  right: 0;
  left: 0;
  width: 0;
  transform: scaleX(1);
  height: 0.063rem;
  background: var(--color-link);
  transition: 0.3s ease-in-out;
}

.styled-nav-links:hover::after,
.mobile-menu-link:hover::after {
  width: 100%;
}

.styled-nav-links.active,
.mobile-menu-link.active {
  color: #fff;
}

.styled-nav-links.active::after,
.mobile-menu-link.active::after {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  right: 0;
  left: 0;
  width: 100%;
  transform: scaleX(1);
  height: 0.0625rem;
  background: var(--bg-lightGreen);
  transition: 0.3s ease-in-out;
}

.styled-cta,
.mobile-button {
  color: var(--color-white);
  letter-spacing: var(--letter-spacing);
  transition: 0.3s ease;
  background: var(--bg-purple);
  border-radius: 0.3125rem;
}

.styled-cta::before,
.styled-cta::after,
.mobile-button::before,
.mobile-button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--color-white);
}

.styled-cta::after,
.mobile-button::after {
  content: "";
  background: var(--bg-lightGreen);
  z-index: -1;
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
  transform-origin: 100% 50%;
  transform: scale3d(1, 1, 1);
  border-radius: 0.3125rem;
}

.styled-cta:hover::before,
.mobile-button:hover::before {
  transform: scale3d(0, 1, 1);
  transform-origin: 0% 50%;
}

.styled-cta:hover > span > span,
.mobile-button:hover > span > span {
  color: var(--color-white);
  animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;
}

@keyframes MoveUpInitial {
  to {
    transform: translate3d(0, -105%, 0);
  }
}

@keyframes MoveUpEnd {
  from {
    transform: translate3d(0, 100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.line {
  height: 0.1125rem;
  width: 2rem;
  margin: 0.28125rem 0;
  margin-left: 0;
  background-color: var(--color-light);
}

.light .styled-nav-links {
  color: var(--color-darkGray);
}

.light .line {
  background-color: var(--bg-dark);
}
.light .mobile-social,
.namaste {
  color: var(--color-h1);
}

.light .mobile-social:hover,
.mobile-social:hover {
  color: var(--color-link);
}

.mobile-menu-container {
  z-index: 999;
  /* top: -10; */
  left: 0;
  right: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background: var(--bg-dark);
  transition: 0.3s ease;
}

.mobile-menu-link {
  font-family: var(--font-cardo);
  font-size: 2rem;
  font-weight: 500;
  transition: 0.3s ease;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.mobile-menu-link:hover {
  color: var(--color-link);
}

.mobile-button {
  transition: 0.3s ease;
  padding: 0.8rem 1.5rem;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
  outline: none;
}

/* label {
  cursor: pointer;
  text-indent: -9999px;
  width: 55px;
  height: 30px;
  background: var(--white);
  display: block;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  position: relative;
  margin-left: auto;
  right: 10px;
}

@media only screen and (max-width: 800px) {
  label {
    position: relative;
  }
} */
/* 
label:after {
  content: "";
  background: var(--black);
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 4px;
  transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
} */

/* input:checked + label {
  background: var(--darkGray);
}

input:checked + label:after {
  background: var(--white);
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
} */

.socials > a::after {
  display: none;
}

.mobile-social {
  color: var(--color-white);
  font-size: 1rem;
  margin-right: 1.5rem;
  transition: 0.3s ease;
  cursor: pointer;
}
.mobile-social:hover,
.socials > a:hover {
  color: var(--color-link);
}
